.search-box-container {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #fff45c;
  justify-content: center;
  align-items: center;
}

.search-box-subcontainer {
  width: 100%;
  height: 75%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

/* Search */
.search-box-input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box-input form {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box-input input {
  width: 100%;
  height: 100%;
}

/* Button Style */
.search-box-button {
  width: 40px;
  height: 100%;
  display: flex;
  border: 1px solid #cccccc;
  align-items: center;
  justify-content: center;
}

.search-box-button button {
  display: flex;
  background-color: #cccccc;
  color: white;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: no-repeat url("../../assets/search.png") #cccccc 50% 50%;
}

/* Logo Style */
.search-box-logo {
  display: flex;
  align-items: center;
}

.search-box-logo img {
  width: 90px;
  height: auto;
  margin-right: 10px;
}